* {
  box-sizing: border-box;
}
/*-------GENERAL-------*/
html,
body {
  min-height: 100%;
  height: 100%;
  position: relative;
  font-family: 'Roboto';
}
h1 {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.flowfix {
  overflow: hidden;
}
img {
  max-width: 100%;
}
/*-------PAGES-------*/
.page {
  min-height: 50%;
}
.p1,
.p3 {
  background: #D5D5D5;
}
/*-------WORK-------*/
.bg-work {
  height: 50vh;
  position: relative;
  text-align: center;
}
.bg-tools {
  height: 25vh;
  position: relative;
  text-align: center;
}
.bgw-1 {
  background: #1C367F;
  color: #555;
}
.bgw-2 {
  background: #42527F;
}
.bgt-1 {
  background: #151826;
  color: #555;
}
.bgt-2 {
  background: #091026;
  color: #555;
}
.p-content {
  padding: 12px 65px;
}
.bg-work span,
.bg-tools span {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.w-content {
  vertical-align: middle;
  display: inline-block;
  max-width: 70%;
}
.w-content img {
  transition: all 8s linear;
  width: 100%;
}
.w-content:hover img {
  transform: scale(1.2);
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out 0.2s;
  z-index: 1;
}
.w-content:hover .overlay {
  opacity: 1;
}
.overlay-txt {
  position: absolute;
  width: 100%;
  padding: 0 65px;
  text-align: left;
  top: -50%;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0.2s;
  z-index: 2;
}
.overlay-txt h1 {
  font-weight: 700;
  font-size: 50px;
}
.overlay-txt p {
  font-weight: 200;
  font-size: 20px;
}
.w-content:hover .overlay-txt {
  top: 30%;
}
/*-------NAVBAR-------*/
/*-------MENU SMARTPHONE-------*/
.menu-opener {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 4;
}
.menu-opener i {
  font-size: 2.5rem;
  color: #333;
}
.menu--exit {
  position: fixed;
  z-index: 5;
}
.menu--exit i {
  color: #fff;
}
.menu--open .menu-sidebar {
  top: 0;
  opacity: 1;
}
.menu-sidebar {
  position: fixed;
  z-index: 2;
  top: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.8);
  transition: all 0.3s ease-in-out;
}
.menu {
  display: table;
  /*- pour centrer les elements du menu sous forme de tableau-*/
  width: 100%;
  height: 100%;
}
.menu ul {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.menu li {
  display: block;
  margin: 15px 0;
  text-align: center;
}
.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}
.menu li a:hover {
  color: #3175AE;
}
.menu li:first-child,
.menu li:last-child {
  font-weight: 100;
  font-size: 20px;
  color: #fff;
}
