* {
  box-sizing: border-box;
}
/*-------GENERAL-------*/
html,
body {
  min-height: 100%;
  height: 100%;
  position: relative;
  font-family: 'Roboto';
}
h1 {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.flowfix {
  overflow: hidden;
}
img {
  max-width: 100%;
}
.bg-work span,
.bg-tools span,
.bg-skills span {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
/*-------PAGES-------*/
.page {
  min-height: 50%;
}
.p1,
.p3 {
  background: #D5D5D5;
}
/*-------HEAD-------*/
.bg-head {
  height: 100vh;
  background: url(../images/header-home/img-header-2.jpg) no-repeat fixed;
  background-position: 50%;
  background-size: cover;
}
.bg-head .h-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 50%;
}
.bg-head .h-container .logo-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 650px;
  max-height: 650px;
}
.bg-head .h-container .logo-container .logo-figure,
.bg-head .h-container .logo-container .logo-clock,
.bg-head .h-container .logo-container .logo-stripes,
.bg-head .h-container .logo-container .logo-elements,
.bg-head .h-container .logo-container .logo-marker {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*-------WORK-------*/
.bg-work {
  height: 50vh;
  position: relative;
  text-align: center;
}
.bgw-1,
.bgw-2,
.bgw-3,
.bgw-4 {
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -20px;
  width: 120%;
  height: 120%;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.bgw-1 {
  background: url(../images/work/bg1.jpg) no-repeat center;
  color: #555;
}
.bgw-2 {
  background: url(../images/work/bg2.jpg) no-repeat center;
}
.bgw-3 {
  background: url(../images/work/bg3.jpg) no-repeat center;
}
.bgw-4 {
  background: url(../images/work/bg4.jpg) no-repeat center;
  color: #555;
}
.p-content {
  padding: 12px 65px;
}
.w-content {
  vertical-align: middle;
  display: inline-block;
  max-width: 70%;
}
.w-content img {
  -webkit-transition: all 8s linear;
          transition: all 8s linear;
  width: 100%;
}
.w-content:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
          transition: all 0.2s ease-in-out 0.2s;
  z-index: 2;
}
.w-content:hover .overlay {
  opacity: 1;
}
.overlay-txt {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 0 65px;
  text-align: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
          transition: all 0.5s ease-in-out 0.2s;
  z-index: 2;
}
.overlay-txt h1 {
  font-weight: 700;
  font-size: 50px;
}
.overlay-txt p {
  font-weight: 200;
  font-size: 20px;
}
.w-content:hover .overlay-txt {
  top: 30%;
}
/*-------TOOLS--------*/
.bg-tools {
  height: 25vh;
  position: relative;
  text-align: center;
}
.bgt-1 {
  background: #151826;
  color: #555;
}
.bgt-2 {
  background: #091026;
  color: #555;
}
.tools-content {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
#tool-list {
  margin: 0 auto;
  padding: 0 30px;
}
#tool-list .item {
  padding: 30px 0px;
  margin: 5px auto;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  max-width: 100px;
}
#tool-list .item img {
  max-width: 100%;
}
/*-------QUI SUIS-JE--------*/
.bg-skills {
  height: 50vh;
  position: relative;
  text-align: center;
}
.bgs-1 {
  background: #2C3E50;
  color: #555;
}
.bgs-2 {
  background: #E74C3C;
  color: #555;
}
.bgs-3 {
  background: #ECF0F1;
  color: #555;
}
.bgs-4 {
  background: #3498DB;
  color: #555;
}
.skills-content {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
.skills-content .skills {
  padding: 0 80px;
}
.skills-content .skills .wd-title,
.skills-content .skills .wp-title,
.skills-content .skills .skill-title {
  color: #ECF0F1;
}
.skills-content .skills .bracket {
  width: 100px;
  fill: #999;
  margin-bottom: 20px;
}
.skills-content .skills .bracket-left,
.skills-content .skills .bracket-right {
  fill: #ECF0F1;
  padding: 20px 15px;
  display: inline-block;
  width: 80px;
}
.skills-content .skills .bracket-left svg,
.skills-content .skills .bracket-right svg {
  width: 35px;
}
.skills-content .skills .bracket-right {
  text-align: left;
}
.skills-content .skills .bracket-left {
  text-align: right;
}
.skills-content .skills .web-design {
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}
.skills-content .skills .web-design .wd-viewport {
  position: absolute;
  left: -50%;
  margin-left: 40px;
}
.skills-content .skills .web-design .wd-viewport svg {
  fill: #ECF0F1;
  width: 130px;
}
.skills-content .skills .web-design .wd-content {
  position: absolute;
  left: -50%;
  margin-left: 40px;
}
.skills-content .skills .web-design .wd-content svg {
  fill: #ECF0F1;
  width: 130px;
}
.skills-content .skills .graphisme {
  margin: 20px auto;
}
.skills-content .skills .graphisme .pen svg {
  fill: #ECF0F1;
  margin: 0;
  width: 130px;
  padding: 5px;
}
.skills-content .skills .graphisme .pen #pen {
  stroke: #555;
  stroke-width: 1;
  stroke-dasharray: 390;
  stroke-dashoffset: 390;
  -webkit-animation: draw 4s linear forwards, colorMe 1.5s 1s linear forwards;
          animation: draw 4s linear forwards, colorMe 1.5s 1s linear forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes colorMe {
  100% {
    fill: #555;
  }
}
@keyframes colorMe {
  100% {
    fill: #555;
  }
}
.skills-content .skills .wordpress {
  margin: 20px auto;
}
.skills-content .skills .wordpress .logo-wp {
  text-align: center;
}
.skills-content .skills .wordpress .logo-wp .roll {
  width: 130px;
  margin: 0 auto;
}
.skills-content .skills .wordpress .logo-wp .roll svg path {
  fill: #ECF0F1;
}
.skills-content .skills .wordpress .logo-wp .roll 100% {
  fill: #999;
}
.skills-content .skills h3 {
  color: #999;
}
/*-------NAVBAR-------*/
/*-------MENU SMARTPHONE-------*/
.menu-opener {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
}
.menu-opener i {
  font-size: 2.5rem;
  color: #333;
}
.menu--exit {
  position: fixed;
  z-index: 11;
}
.menu--exit i {
  color: #DADBDA;
}
.menu--open .menu-sidebar {
  top: 0;
  opacity: 1;
}
.menu-sidebar {
  position: fixed;
  z-index: 9;
  top: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.9);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.menu {
  display: table;
  /*- pour centrer les elements du menu sous forme de tableau-*/
  width: 100%;
  height: 100%;
}
.menu ul {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.menu li {
  display: block;
  margin: 15px 0;
  text-align: center;
}
.menu li a {
  color: #DADBDA;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}
.menu li a:hover {
  color: #3175AE;
}
.menu li:first-child,
.menu li:last-child {
  font-weight: 100;
  font-size: 20px;
  color: #fff;
}
/*--------ANIMAIONS---------*/
/*--------ORIENTATION ECRAN--------*/
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .bg-head .h-container .logo-container {
    max-width: 500px;
    max-height: 500px;
  }
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
}
/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-work {
    height: 100vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPhone 6 (landscape)----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-head .h-container .logo-container {
    max-width: 450px;
    max-height: 450px;
  }
  .bg-work {
    height: 100vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPhone 6 (portrait)----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPhone 6 plus (landscape)----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-head .h-container .logo-container {
    max-width: 450px;
    max-height: 450px;
  }
  .bg-work {
    height: 100vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
/* iPhone 6 plus (portrait)----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-work {
    height: 50vh;
    position: relative;
    text-align: center;
  }
  .bg-work .bgw-1,
  .bg-work .bgw-2,
  .bg-work .bgw-3,
  .bg-work .bgw-4 {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .bg-tools {
    height: 25vh;
    position: relative;
    text-align: center;
  }
  .bg-skills {
    height: 50vh;
    position: relative;
    text-align: center;
  }
}
